@import url(base.css);
header{
	width: 100%;
	height: 2.67rem;
	background: #fffefe;
	position: fixed;
	left: 0;
	top: 0; 
	z-index: 99;
}
.head_up{
	width: 3.5rem;
	height: 1.12rem;
	margin: 0 auto;
}
.head_up li a{
	display: block;
	font-size: 0.38rem;
	color: #ff2d47;
	line-height: 1.06rem;
	padding: 0 0.14rem ;
	/* margin: 0 0.35rem; */
	border-bottom: 0.06rem solid #ff2d47;
	float: left;
}
.head_up li:first-child a{
	color: #8c7878;
	border-bottom: 0.06rem solid #fffefe;
	margin-right: 0.35rem;
}
.head_down{
	width: 10.2rem;
	height: 0.9rem;
	border-radius: 0.45rem;
	background: #f9f4f4;
	margin: 0.27rem auto;
}
.sousuo{
	width: 0.53rem;
	height: 0.9rem;
	float: left;
	margin-left: 3rem;
}
.sousuo .icon-fangdajing{
	font-size: 0.36rem;
	color: #967878;
	line-height: 0.9rem;
}
.head_down h1{
	float: left;
	width: 3.8rem;
	height: 100%;
	font-size: 0.36rem;
	color: #967878;
	line-height: 0.9rem;
	font-weight: normal;
}
.list{
	width: 100%;
	margin-top:2.68rem; 
	display: flex;
}
.list_L{
    width: 2.55rem;
}
.list_L:after{
   content: "";
   display: block;
   clear: both;
   width: 0;
   height: 0;
   line-height: 0;
}
.list_L li{
	width: 2.45rem;
	height: 1.38rem;
	background: #f6f6f7;
	border-left: 0.1rem solid #f6f6f7;
	text-align: center;
}
.list_L li a{
	font-size: 0.38rem;
	color: #333333;
	line-height: 1.38rem;
}
.list_L li:first-child{
    background: #ffffff;
    color: #ff2d47;
    border-left: 0.1rem solid #ff2d47;
}
.list_R{
    width: 8.25rem;
}
.list_R:after{
   content: "";
   display: block;
   clear: both;
   width: 0;
   height: 0;
   line-height: 0;
}
.list_box{
	width: 8.25rem;
	margin-top: 0.31rem;
	margin-bottom: 1.76rem;
}
.list_box:after{
   content: "";
   display: block;
   clear: both;
   width: 0;
   height: 0;
   line-height: 0;
}
.list_box_up{
	width: 7.36rem;
	height: 0.46rem;
	margin: 0 auto;
	position: relative;
}
.list_box_up1{
	position: absolute;
	left: 0;
	top: 0.22rem;
	width: 2.62rem;
	height: 0.02rem;
	background: #ebebeb;
}
.list_box_up2{
	position: absolute;
	left: 2.62rem;
	top: 0;
	width: 2.10rem;
	height: 0.46rem;
	font-size: 0.36rem;
	color: #6d6d72;
	line-height: 0.46rem;
	text-align: center;
}
.list_box_up3{
	position: absolute;
	right:0;
	top: 0.22rem;
	width: 2.62rem;
	height: 0.02rem;
	background: #ebebeb;
}
.list_box_down{
	width: 8.25rem;
	display: flex;
	flex-wrap: wrap;
}
.list_box_down:after{
   content: "";
   display: block;
   clear: both;
   width: 0;
   height: 0;
   line-height: 0;
}
.list_box_down li{
    width: 2.75rem;
    height: 3.34rem;
}
.list_box_down li a .list_box_down_img{
    width: 2.75rem;
    height: 3.01rem;
}
.list_box_down li a h1{
	width: 100%;
	height: 0.33rem;
	font-size: 0.33rem;
	color: #6d6d72;
	line-height: 0.33rem;
	text-align: center;
	font-weight: normal;
}
footer{
	width: 100%;
	height: 1.42rem;
	border-top: 0.02rem solid #f0ebeb;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fffefe;
	z-index: 999;
	display: flex;
	justify-content: space-around;
}
.tubiao{
	/* width:0.7rem; */
	height: 100%; 
	padding-top: 0.15rem;
}
.tubiao h1{
    /* width: 0.7rem; */
    height: 0.27rem;
    margin-top: 0.21rem;
    font-size: 0.21rem;
	color: #321e1e;
	line-height: 0.21rem;
	text-align: center;
}
.tubiao h1:nth-child(3){
	color: #ff4258;
}
.icon{
	width:0.7rem;
	height: 0.67rem;
}
.icon .icon-shouye{
	font-size: 0.67rem;
	color: #b9aaaa;
	line-height: 0.67rem;
	text-align: center;
}
.icon .icon-huangguan1{
	font-size: 0.67rem;
	color: #b9aaaa;
	line-height: 0.67rem;
	text-align: center;
}
.icon .icon-fenlei2{
	font-size: 0.67rem;
	color: #ff4258;
	line-height: 0.67rem;
	text-align: center;
}
.icon .icon-ai-cart{
	font-size: 0.67rem;
	color: #b9aaaa;
	line-height: 0.67rem;
	text-align: center;
}
.icon .icon-wode-active{
	font-size: 0.67rem;
	color: #b9aaaa;
	line-height: 0.67rem;
	text-align: center;
}